$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.primary-container {
  margin-top: 40px;
}

.bio {
  margin-top: 60px;
}

body {
  background-color: #FAFAFA;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #FFF;
}

.navbar-brand {
  text-transform: uppercase
}

.thumbnail {
  border-radius: 0;
  border: none;
}

.well {
  background-color: white;
  border: none
}