$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.primary-container {
  margin-top: 40px;
}

.bio {
  margin-top: 60px;
}