extends layouts/default

block link
  -var selected = 'Contact'

block content
  .row
    .col-lg-6.col-lg-offset-3
      h1 Contact
      .well
        h3
          span.name
          span  | 
          span.tagline
        p.lead
          a.phone
        
        ul.list-inline
          li 
            a.email Email
          li
            a.twitter Twitter
          li
            a.github Github
          li
            a.linkedin LinkedIn

