extends layout

block content
  .row.marketing
    .col-lg-6
      h1 Contact
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex molestiae laborum distinctio laudantium, hic veritatis laboriosam, aspernatur quam delectus eos vitae quae nam! Quis error ipsam doloremque quasi, labore numquam.