extends layouts/default

block link
  -var selected = 'Home'

block content
  .row.bio
    .col-lg-4.col-lg-offset-4
      .home-content
        h2.bio-headline.text-center
        img.bio-pic.img-responsive
        p.bio-content
        
          
        