extends layouts/default

block link
  -var selected = 'Home'

block content
  .row.bio
    .col-lg-8.col-lg-offset-2
      .home-content
      .row
        .col-lg-6
          p.bio-headline.lead
          p.bio-content
        .col-lg-6
          img.bio-pic.img-responsive
        