extends layouts/default

block link
  -var selected = 'Portfolio'

block content
  .row
    .col-lg-12
      h1 Portfolio
      .portfolio-items.row
      .portfolio-template.hidden
        .portfolio-item.col-lg-4
          .thumbnail
            img.portfolio-image.img-responsive
            .caption
              h3.project-name
              p.description
              p
                a.btn.btn-default.project-link(role="button" target="_blank")
                  span.glyphicon.glyphicon-link
                  View Project

                a.btn.btn-default.code-link(role="button" target="_blank")
                  span.glyphicon.glyphicon-wrench
                  View Code