extends layouts/default

block link
  -var selected = 'Resume'

block content
  .row
    .col-lg-8.col-lg-offset-2.resume
      h1 Resume
      .resume-items
      .template.hidden
        .resume-template
          .row
            .col-lg-6
              h3.company-name 
                a.link(target="_blank")
                  span.glyphicon.glyphicon-link
              p.job-title Job Title
              p
                span.year-start 2005
                span.separator &nbsp;- 
                span.year-end 2009
            .col-lg-6
              p.snippet
          hr