extends layouts/default

block link
  -var selected = 'Testimonials'

block content
  .row
    .col-lg-8.col-lg-offset-2
      h1 Testimonials
      .testimonial-items
      .testimonial-template.hidden
        .testimonial-item.media
          .media-left.media-middle
            img.media-object.img-circle
          .media-body
            blockquote
              p.media-description
              footer
                span.media-heading 
                &nbsp; 
                span.testimonial-title  
                span  at 
                span.testimonial-company  